{% extends 'shop/basic.html' %}
{% block title%}About Us{% endblock %}
{% block body%}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">My Amazing Cart</h1>
            <p>As India’s 70th Republic Day approaches, we celebrate those special products that were made in India and made for India. Spanning education, hardware, software, apparel, well-being, health and various social causes, these products by small businesses & startups on MyAwesome Cart are a true gauge of Indian innovation.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Working with small Business</h2>
                <p> MyAwesome Cart empowers small and medium-sized businesses to reach millions of customers with a number of programmes that help boost their revenue, reach and productivity. By telling stories from a wide range of perspectives, we tell the larger story of who MyAwesome Cart is and how Amazon's core business practices contribute to a better India.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Working at MyAwesome Cart</h2>
                <p>If you're an inventor, you love to build and be part of high performance teams who are passionate about operational excellence—you’ll love it here. From day one at MyAwesome Cart, you'll take ownership of projects that have a direct impact on our customers. You'll love being an Awesomean!</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>In Community</h2>
                <p>We care deeply about the communities our employees call home. We look for uniquely Awesomean and innovative ways to make positive, lasting impacts and encourage our employees to champion causes they care about.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>

{% endblock %}